---
title: 'plusstorage: docs'
---

{{< blocks/cover title="plusstorage: Technische Dokumentation" image_anchor="bottom" height="full">}}

<div class="mx-auto">
	<p align="center" style="margin-bottom: 0px !important;"> <img width="300" src="/images/Icon-RGB-storage-blue-dark.svg" alt="plusstorage logo"></p><br><br>
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
        Dokumentation <i class="fa fa-home ml-2"></i>
    </a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://www.plusserver.com/produkte/storage">
		Mehr Erfahren <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/plusstorage">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="dark" >}}
</div>

{{< /blocks/cover >}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-solid fa-users" title="Tritt uns bei!" url="https://scs.community" %}}
Wir sind Teil der [Sovereign Cloud Stack](https://scs.community) Community.
Eine Plattform — standardisiert, erbaut und betrieben von vielen.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Beiträge willkommen!" url="https://github.com/plusstorage/docs" %}}
Wir haben einen [Pull Request](https://github.com/plusstorage/docs/pulls) Workflow auf **GitHub**. Neue Nutzer sind stets willkommen!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-linkedin" title="Folge uns auf LinkedIn!" url="https://www.linkedin.com/company/plusserver/" %}}
Für Ankündigungen und neue Features.
{{% /blocks/feature %}}


{{< /blocks/section >}}

